html{
  color: #404040;
  font-family: 'Poppins', sans-serif;
}

body{
  text-align: center;
  margin: 0;
}

main{
  padding-top: 4em;
}

h1{
  font-size: 2.5em;
  
}
/* header */
a{
  text-decoration: none;
  color: inherit;
}

header{
  background-color: #0F4C81;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
}

.logo{
  padding-top: 6px;
  width: 50px;
}

header nav li{
  display: inline;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
}

header nav li:last-child{
  padding-right: 1.5em;
}
/* news */
.principal{
  background-color: #eee;
  background-position: bottom;
}

.main-news{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  
}

.news{
  width: 680px;
  margin: 10px 0px;
  padding: 0px 20px;
  border: solid 4px #eee;
  box-shadow: 0px 0px 20px -15px #006B54;
}

.news h2{
  font-size: 2.0em;
}

.news p{
  font-size: 20px;
}

.main-news hr{
  border: 10px solid #006B54;
  width: 100vmin;
}
/* footer */
/* footer{
  background-color: #0F4C81;
  color: #ffffff;
  font-size: 14px;
  height: 80px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 1px solid #333;
  bottom: 0;
  left: 0;
  height: 40px;
  position: fixed;
  width: 100%;
} */