html{
  color: #404040;
  font-family: 'Poppins', sans-serif;
}

body{
  text-align: center;
  margin: 0;
  position: relative;
  min-height: 100vh;
}

main{
  padding-top: 4em;
  padding-bottom: 7.5em;
}

h1{
  font-size: 2.5em;
}

h2{
  font-size: 2em;
}
/* header */
a{
  text-decoration: none;
  color: inherit;
}

header{
  background-color: #0F4C81;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
}

.logo{
  padding-top: 6px;
  width: 50px;
}

header nav li{
  display: inline;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
}

header nav li:last-child{
  padding-right: 1.5em;
}
/* news */
.principal{
  background-color: #eee;
  background-position: bottom;
}

.main-news{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  
}

.news{
  width: 42.5em;
  margin: 10px 0px;
  padding: 0px 20px;
  border: solid 4px #eee;
  box-shadow: 0px 0px 20px -15px #006B54;
}

.news h2{
  font-size: 2.0em;
}

.news p{
  font-size: 20px;
}

.main-news hr{
  border: 10px solid #006B54;
  width: 100vmin;
}
/* footer */
footer{
  background-color: #0F4C81;
  color: #ffffff;
  font-size: 0.875em;
  height: 3.75em;
  width: 100vw;
  border-top: 0.25em solid #0D3E69;
  border-bottom: 0.25em solid #11548F;
  
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
}
/* learn more news */
.learn-more-link p{
  padding: 0;
  margin: 0;

  font-size: 1.25em;
}

.learn-more-link p:hover{
  font-weight: bold;
  font-size: 1.3em
}

.learn-more-link div{
  background-color: white;
  height: 3.5em;
  padding: 1em 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.learn-more-link div:nth-child(2n+1){
  background-color: rgba(13, 62, 105, 0.25);
}
/* about */
/* .about{
  width: 42.5em;
} */

.about article{
  display: flex;
  justify-content: center;
}

.about article img{
  width: 15em;
  height: 15em;
}

.about p{
  margin: 0;
}

.about-text{
  width: 25vw;
  padding-left: 4em;
  text-align: center;
}

/* .social-media{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  list-style-type: none;

  padding-top: 5em;
  width: 25vw;
} */